body{
    background-color: #CCCCFF;
    font-family: sans-serif;
    font-size: 14pt;
    font-weight: bold;
}

h1{
    font-size: 32pt;
    text-align: center;
    margin: 0px;
}

textArea{
    width: 90%;
    height: 400px;
    font-size: 12pt;
    font-family: monospace;
    font-weight: bold;
}

fieldset{
    border-style: solid;
    border-width: 5px;
    border-color: black;
    display: inline;
}

.wrapper{
    text-align: center;
}